/* https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Test_your_skills:_Advanced_HTML_text */
h1 {
  font-size: 2rem;
  margin: 0;
  color: purple;
}

dl {
  color: gray;
  margin: 0.5em 0;
}

dt {
  font-weight: bold;
  color: purple;
}

body {
  font: 100 1em / 1.4 "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

p {
  margin: 0.5em 0;
}

abbr,
time {
  color: green;
}

a[href^="#"]:before {
    color: var(--text-inactive);
    content: "#";
    display: inline-block;
    font-size: .7em;
    line-height: 1;
    text-decoration: none;
    width: 0.8em;
}